
<br>
<br>


<div class="container">

  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <img class="imgk" src="{{'/assets/'+(events.image).substring(12)}}" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
      <h1 class="font-weight-light">{{events.nom}}</h1>
      <p>{{events.description}}</p>
      <h3 class="font-weight-light">Le : {{events.date|date}}</h3>

      <h2 class="font-weight-light">nombre de place disponibles : {{events.places}}</h2>

      <form [formGroup]="myForm" (ngSubmit)=" serviceevent.participer(myForm.value,name,events.id) " class="example-form" >


        <input placeholder="nom" formControlName="nom"  type="hidden"  >
          <input placeholder="nom" formControlName="type"  type="hidden">

        <button *ngIf="((events.dis != name) &&(events.places !=0)&&(name!='noone'))" type="submit" mat-raised-button >participer</button>
        <button *ngIf="((events.dis == name) &&(events.places !=0))" type="submit" disabled mat-raised-button >vous avez déja participé</button>
        <button *ngIf="((events.places ==0))" type="submit" disabled mat-raised-button >pas de places disponibles</button>

      </form>

      <button *ngIf="((events.dis != name) &&(events.places !=0)&&(name=='noone'))" href="#"[routerLink]="['/login']" mat-raised-button >sing in pour participer</button>

    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- /.row -->

</div>
