




<section id="container" class="">

  <!--header start-->

  <!--header end-->

  <!--sidebar start-->
  <aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="">
          <a class="nav-link" [routerLink]="['/dashboard/cat']">
            <i class="fas fa-bookmark"></i>
            <span>Categories</span>
          </a>
        </li>


        <li>
          <a class="nav-link" [routerLink]="['/dashboard/event']">
            <i class="fas fa-bookmark"></i>
            <span>event</span>
          </a>
        </li>



      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>




  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <section class="panel">

            <form [formGroup]="form" (ngSubmit)="submit()" class="example-form" >


              <mat-form-field class="example-full-width" >
                <input  matInput placeholder="nom" formControlName="nom">
                <mat-error *ngIf="nom.invalid" >
                  Veuillez saisir votre nom
                </mat-error>
              </mat-form-field>
              <br>


              <mat-label>Categorie</mat-label>
              <select mat-select placeholder="type" formControlName="type" class="browser-default custom-select" >
                <option value='Sport'>Sport</option>
                <option value='Education'>Education</option>
                <option value='diver'>diver</option>
              </select>
              <mat-error *ngIf="type.invalid" >
                Veuillez choisir la categorie
              </mat-error>


              <br><br>
              <button type="submit"  mat-raised-button >Ajouter Categorie</button>
            </form>
          </section>
        </div>
      </div>
    </section>
  </section>
</section>
