<input  placeholder="Search..." type="text" [(ngModel)]="searchvalue" (input)="onsearch()" />

<div *ngFor="let b of events">
  <br>
<div  [routerLink]="['/single/event/',b.id]" class="card bg-secondary text-white">

  <div *ngIf="(b.categorie == event_type)" class="row no-gutters">
    <br>
    <div class="col-auto">
      <div class="imgk">
        <img src="{{'/assets/'+(b.image).substring(12)}}" class="img-fluid" alt="">
      </div>
    </div>
    <div class="col">
      <div  class="card-block px-2">
        <br>
        <h2 class="card-title">{{b.nom}}</h2>
        <h4 class="card-subtitle mb-2" >{{b.categorie  }}</h4>
        <p class="card-text">{{b.description}}</p>
        <h5 class="card-subtitle mb-2"  >{{b.date|date  }}</h5>
      </div>
    </div>

  </div>

  <div  [routerLink]="['/single/event/',b.id]" class="card bg-secondary text-white">

  <div *ngIf="(event_type == '')" class="row no-gutters">
    <div class="col-auto">
      <div class="imgk">
      <img src="{{'/assets/'+(b.image).substring(12)}}" class="img-fluid" alt="">
      </div>
    </div>
    <div class="col">
      <div class="card-block px-2">
        <br>
        <h2 class="card-title">{{b.nom}}</h2>
        <h4 class="card-subtitle mb-2" >{{b.categorie  }}</h4>
        <p class="card-text">{{b.description}}</p>
        <h5 class="card-subtitle mb-2"  >{{b.date|date  }}</h5>
      </div>
    </div>

  </div>

</div>

